body {
  margin: 0;
  padding-left: 15px;
  padding-right: 15px;
  font-family: 'Spicy Rice', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
